/* Ensure the size of the image fit the container perfectly */
img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

button {
  touch-action: none;
}

.preview-image {
  max-width: 550px;
  width: 100%;
  display: block;
  margin: 0 auto;
}


.preview-modal .modal-dialog {
  max-width: 900px;
}

.preview-modal .modal-body>*+* {
  margin-top: 1rem;
}

.preview-modal .modal-footer {
  padding: 0.2em 0.5em;
}

.preview-modal__content {
  width: 240px;
  height: 320px;
  margin: 0 auto;
  margin-bottom: 3rem !important;
  border: 1px black solid;
}

.preview-image__controller {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.preview-image__save{
  margin: 1rem 0;
}

.preview-modal__content .cr-boundary {
  position: relative;
}

.preview-modal__content .cr-boundary::before {
  content: "";
  width: 240px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/icon_layer1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.5;

}

.preview-modal__content .cr-boundary::after {
  content: "";
  width: 240px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/icon_layer2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.preview-modal__header{
  display: flex;
}

.preview-modal__close-btn{
  margin-left: auto;
}

.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1070;
  width: 100vw;
  height: 100vh;
  
  background: rgba(0, 0, 0, 0.7);
}

.loading-modal__content {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  text-align: center;
  color: white;
}

/* overide bootstrap style */
.application-form .application-form__label{
  text-align: start;
}
.application-form__title{
  font-weight: bold;
  margin: 2rem 0 2.5rem 0;
}

.application-form__image-result{
  width: 240px;
  height: 320px;
  margin: 0 auto;
  border: 1px black solid;
  border-radius: 4px;
}

.application-form__title,
.application-form__edit-img{
  text-align: center;
}


.application-form__image-input{
  margin: 3rem 0 3rem 0;
}

.application-form__image-input > * + * {
  margin-top: 1rem;
}

#htmlMediaCapture{
  display: none;
}


/* Safari */
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.spinner-border::after {
  /* Removed all position rules */
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #007bff;
  width: 40px;
  height: 40px;
  margin-left: .7rem; 
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  content:'';
  display:block;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}