/* Ensure the size of the image fit the container perfectly */
img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

button{
  touch-action: none;
}

.preview-image {
  max-width: 550px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.image-result {
  max-width: 300px;
  margin: 0 auto;
}

.option1 {
  margin: 5.5rem 0 1rem 0;
}

#preview-modal .modal-dialog {
  max-width: 900px;
}

#preview-modal .modal-body>*+* {
  margin-top: 1rem;
}

#preview-modal .modal-header,
#preview-modal .modal-footer{
  padding: 0.2em 0.5em;
}

.preview-modal__preview-content {
  width: 240px;
  height: 320px;
  margin: 0 auto;
}

.preview-image__controller {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media only screen and (min-width: 768px){
  .preview-image__controller {
    width: 50%;
  }
}

.preview-image__possition-controller {
  width: 130px;
  height: 130px;

  position: relative;
}

.preview-image__possition-up {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.preview-image__possition-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.preview-image__possition-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.preview-image__possition-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.preview-image__zoom-controller {
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-image__zoom-controller > *{
  width: 5rem;
}

.preview-image__zoom-controller>*+* {
  margin-left: .5rem;
}

.cropper-face {
  z-index: 2;
}

.preview-image__download {
  margin: 0 auto;
  margin-top: .7rem;
  display: block;
}

.preview-modal__reset-btn{
  display: flex;
  justify-content: center;
}

.crop-area-icon{
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 15rem;
  opacity: 0.8;
}

.loading-modal{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1070;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.7);
}

.loading-modal__content{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  color: white;
}