.preview-image{
    max-width: 550px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.map-image{
    max-width: 900px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
}

.option1{
    margin: 5.5rem 0 1rem 0;
}